#doctor{
    width: 250px;
    height: 150px;
}
p {
    background-color: silver;
    font-family: ´Barrio´, cursive;
}
p {
    background-color: silver;
    font-family: ´Barrio´, cursive;   
}
p {
    background-color: silver;
    font-family: ´Barrio´, cursive;   
}
p {
    background-color: silver;
    font-family: ´Barrio´, cursive;   
}
h1 {
    color: red;
}
h1 {
    background-color: silver;
    }
#apps{
    width: 250px;
    height: 150px;
}
#acch:hover{
    color:red;
    font-family: helvetica;
}
#ps{
    width:200px;
}

#football{
    width: 200px;
     }
#bball{
    width: 250px;
}
#hoveram:hover{
    color:red;
    font-family: cursive;
}
#school {
    width: 200px;
    height: 250px;
}
#lernt{
    background-color: silver;
}
#lernt{
    color: red;
}
#lernt{
    font-family: cursive;
}
#lernt:hover{
    color: blue;
}
#acch:hover{
    background-color:silver;
}
#acch:hover{
    font-family: helvetica;